In [1]:
people = {
    "first_name" : ["Xavi","Brett","Cristiano"],
    "last_name" : ["Alonso", "Lee", "Ronaldo"],
    "email" : ["x.alonso@test.com","b.lee@test.com", "c.ronaldo@test.com"]
}

In [2]:
people

{'first_name': ['Xavi', 'Brett', 'Cristiano'],
 'last_name': ['Alonso', 'Lee', 'Ronaldo'],
 'email': ['x.alonso@test.com', 'b.lee@test.com', 'c.ronaldo@test.com']}

In [3]:
people['email']

['x.alonso@test.com', 'b.lee@test.com', 'c.ronaldo@test.com']

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(people)

In [6]:
df

  first_name last_name               email
0       Xavi    Alonso   x.alonso@test.com
1      Brett       Lee      b.lee@test.com
2  Cristiano   Ronaldo  c.ronaldo@test.com

In [7]:
df['email']

0     x.alonso@test.com
1        b.lee@test.com
2    c.ronaldo@test.com
Name: email, dtype: object

In [8]:
type(df['email'])

pandas.core.series.Series

In [9]:
df.email

0     x.alonso@test.com
1        b.lee@test.com
2    c.ronaldo@test.com
Name: email, dtype: object

In [10]:
df['count']

KeyError: 'count'

In [11]:
df.count

<bound method DataFrame.count of   first_name last_name               email
0       Xavi    Alonso   x.alonso@test.com
1      Brett       Lee      b.lee@test.com
2  Cristiano   Ronaldo  c.ronaldo@test.com>

In [12]:
df[['last','email']]

KeyError: "['last'] not in index"

In [13]:
df[['last_name','email']]

  last_name               email
0    Alonso   x.alonso@test.com
1       Lee      b.lee@test.com
2   Ronaldo  c.ronaldo@test.com

In [14]:
df['last_name','email']

KeyError: ('last_name', 'email')

In [15]:
df[['last_name','email']]

  last_name               email
0    Alonso   x.alonso@test.com
1       Lee      b.lee@test.com
2   Ronaldo  c.ronaldo@test.com

In [16]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [17]:
df.iloc[0]

first_name                 Xavi
last_name                Alonso
email         x.alonso@test.com
Name: 0, dtype: object

In [18]:
df.iloc[1]

first_name             Brett
last_name                Lee
email         b.lee@test.com
Name: 1, dtype: object

In [19]:
df.iloc[[0,1]]

  first_name last_name              email
0       Xavi    Alonso  x.alonso@test.com
1      Brett       Lee     b.lee@test.com

In [20]:
df.iloc[[],2]

Series([], Name: email, dtype: object)

In [21]:
df.iloc[[0,1],2]

0    x.alonso@test.com
1       b.lee@test.com
Name: email, dtype: object

In [22]:
df.iloc[[0,1]]

  first_name last_name              email
0       Xavi    Alonso  x.alonso@test.com
1      Brett       Lee     b.lee@test.com

In [23]:
df.iloc[[0,1],[0,1]]

  first_name last_name
0       Xavi    Alonso
1      Brett       Lee

In [24]:
df.iloc[[0,1],2]

0    x.alonso@test.com
1       b.lee@test.com
Name: email, dtype: object

In [25]:
df/

SyntaxError: invalid syntax (997473290.py, line 1)

In [26]:
df

  first_name last_name               email
0       Xavi    Alonso   x.alonso@test.com
1      Brett       Lee      b.lee@test.com
2  Cristiano   Ronaldo  c.ronaldo@test.com

In [27]:
df.loc[0]

first_name                 Xavi
last_name                Alonso
email         x.alonso@test.com
Name: 0, dtype: object

In [28]:
df.loc[[0,1]]

  first_name last_name              email
0       Xavi    Alonso  x.alonso@test.com
1      Brett       Lee     b.lee@test.com

In [29]:
df.loc[[0,1],'email']

0    x.alonso@test.com
1       b.lee@test.com
Name: email, dtype: object

In [30]:
df.loc[[0,1],['email','last_name']]

               email last_name
0  x.alonso@test.com    Alonso
1     b.lee@test.com       Lee